@charset "UTF-8";
/* CSS Document */

/*--- BOF ---*/

/*--- LIGHT THEME (AND COMMON) --*/

.whig-wrapper {
    overflow: auto;
    background: rgb(229, 229, 229);
    padding: 10px;
    position: relative;
}

.whig-wrapper iframe {
    background: rgb(205, 205, 205);
    width: 100%;
    min-height: 200px;
    color: rgb(44, 44, 44);
    font: 400 13px "Arial", sans-serif;
}

body.whig-body {
    color: rgb(44, 44, 44);
    font: 400 13px "Arial", sans-serif;
}

.whig-toolbar {
    padding: 0 10px 10px 10px;
    overflow: auto;
    background: rgb(195, 195, 195);
}

.whig-wrapper button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none 0;
    padding: 0;
    margin: 10px 10px 0 0;
    float: left;
    width: auto;
    height: auto;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
}

.whig-wrapper button:last-child {
    margin: 10px 0 0 0;
}

.whig-wrapper .icon {
    float: left;
    width: 24px;
    height: 24px;
    text-indent: -999px;
    overflow: hidden;
    background: transparent url('../img/whig-sprite.png') no-repeat 0 0;
}

.whig-wrapper .icon.bold {
    background-position: 0 0;
}

.whig-wrapper .icon.underline {
    background-position: -24px 0;
}

.whig-wrapper .icon.italicize {
    background-position: -48px 0;
}

.whig-wrapper .icon.ul {
    background-position: -72px 0;
}

.whig-wrapper .icon.ol {
    background-position: -96px 0;
}

.whig-wrapper .icon.remove {
    background-position: -168px 0;
}

.whig-wrapper .icon.indent {
    background-position: -120px 0;
}

.whig-wrapper .icon.outdent {
    background-position: -144px 0;
}

.whig-wrapper .icon.center {
    background-position: -192px 0;
}

.whig-wrapper .icon.left {
    background-position: -216px 0;
}

.whig-wrapper .icon.right {
    background-position: -240px 0;
}

.whig-wrapper .icon.full {
    background-position: -264px 0;
}

.whig-wrapper .icon.superscript {
    background-position: -288px 0;
}

.whig-wrapper .icon.subscript {
    background-position: -312px 0;
}

.whig-wrapper .icon.link {
    background-position: -336px 0;
}

.whig-wrapper .icon.unlink {
    background-position: -360px 0;
}

.whig-wrapper .icon.image {
    background-position: -384px 0;
}

#whig_dialog_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: auto;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
}

#whig_dialog_window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 220px;
    margin: auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: rgb(230, 230, 230) 2px solid;
    overflow: auto;
}

#whig_dialog_header {
    font: 600 15px "Open Sans", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 1.0em;
    border-bottom: rgb(194, 194, 194) 3px solid;
    margin: 0 0 14px 0;
    padding: 0 0 10px 0;
}

#whig_dialog_content {
    overflow: auto;
}

#whig_dialog_content label {
    font: 400 14px "Arial", sans-serif;
    padding: 4px 0;
    margin: 0 10px 10px 0;
    float: left;
    clear: left;
    border: none 0;
    min-width: 80px;
}

#whig_dialog_content input[type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: rgb(180, 180, 180) 1px solid;
    background: rgb(236, 236, 236);
    font-size: 13px;
    border-radius: 3px;
    margin: 0 0 16px 0;
    padding: 4px 8px 4px 0;
    color: rgb(45, 45, 45);
    text-indent: 8px;
}

#whig_dialog_content input[type='text'].error {
    border: rgb(185, 27, 27) 1px solid;
    color: rgb(45, 45, 45);
}

p.help-text {
    font: 300 10px 'Arial', sans-serif;
    color: rgb(140, 140, 140);
    margin: -8px 0 16px 0;
}

#whig_dialog_content input[type='radio'] {
    outline: none;
    color: rgb(45, 45, 45);
    margin: 0 6px 10px 0;
}

#whig_dialog_content label.inline-label {
    overflow: auto;
    clear: none;
    margin: 0 6px 0 0;
    padding: 6px 2px;
    min-width: 0;
    width: auto;
}

#whig_dialog_content .float_wrap#margin_wrap label.inline-label {
    margin: 0;
}

#whig_dialog_content label.inline-label input[type="text"] {
    margin: 0 0 10px 4px;
    width: 30px;
}

#whig_dialog_content label.inline-label span {
    font-size: 12px;
}

#whig_dialog_content .float_wrap#margin_wrap label.inline-label span {
    font-size: 14px;
    font-weight: 600;
    margin: 0 6px;
}

#whig_dialog_content .float_wrap {
    margin: 0 0 16px;
    padding: 10px 10px 0 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

#whig_dialog_content .float_wrap legend {
    float: left;
    padding: 0 0 6px 0;
    margin: 0 0 8px 0;
    color: rgb(69, 69, 69);
    border-bottom: rgb(190, 190, 190) 1px solid;
    display: block;
    width: 100%;
}

#image_link_wrap {
    overflow: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 10px 0 10px;
    border-radius: 3px;
    margin: 0 0 16px;
}

#image_link_toggle {
    float: right;
    margin: 6px 0 0;
}

#image_link_url_wrap {
    display: none;
}

#image_link_url_wrap.visible {
    display: block;
}

#whig_button_wrap {
    overflow: auto;
    margin: 0;
    padding: 15px 0 0 0;
    border-top: rgb(120, 120, 120) 1px dotted;
}

#whig_button_wrap button {
    float: right;
    margin: 0 0 0 10px;
    padding: 4px 0;
    width: 100px;
    text-align: center;
    font: 400 14px "Open Sans", sans-serif;
}

#whig_button_wrap button#whig_dialog_cancel {
    background: transparent;
    color: rgb(69, 69, 69);
    border: rgb(190, 190, 190) 2px solid;
}

#whig_button_wrap button#whig_dialog_confirm {
    background: rgb(36, 84, 201);
    color: rgb(240, 240, 240);
    border: rgb(36, 84, 201) 2px solid;
}

/*--------- DARK THEME ---------*/

.whig-wrapper.dark {
    background: rgb(55, 55, 55);
}

.whig-wrapper.dark iframe {
    background: rgb(45, 45, 45);
}

body.whig-body.dark {
    color: rgb(220, 220, 220);
}

.whig-wrapper.dark .whig-toolbar {
    background: rgb(36, 36, 36);
}

.whig-wrapper.dark .icon.bold {
    background-position: 0 -24px;
}

.whig-wrapper.dark .icon.underline {
    background-position: -24px -24px;
}

.whig-wrapper.dark .icon.italicize {
    background-position: -48px -24px;
}

.whig-wrapper.dark .icon.ul {
    background-position: -72px -24px;
}

.whig-wrapper.dark .icon.ol {
    background-position: -96px -24px;
}

.whig-wrapper.dark .icon.remove {
    background-position: -168px -24px;
}

.whig-wrapper.dark .icon.indent {
    background-position: -120px -24px;
}

.whig-wrapper.dark .icon.outdent {
    background-position: -144px -24px;
}

.whig-wrapper.dark .icon.center {
    background-position: -192px -24px;
}

.whig-wrapper.dark .icon.left {
    background-position: -216px -24px;
}

.whig-wrapper.dark .icon.right {
    background-position: -240px -24px;
}

.whig-wrapper.dark .icon.full {
    background-position: -264px -24px;
}

.whig-wrapper.dark .icon.superscript {
    background-position: -288px -24px;
}

.whig-wrapper.dark .icon.subscript {
    background-position: -312px -24px;
}

.whig-wrapper.dark .icon.link {
    background-position: -336px -24px;
}

.whig-wrapper.dark .icon.unlink {
    background-position: -360px -24px;
}

.whig-wrapper.dark .icon.image {
    background-position: -384px -24px;
}

.whig-wrapper.dark #whig_dialog_wrap {
    background: rgba(0, 0, 0, 0.8);
}

.whig-wrapper.dark #whig_dialog_window {
    background: rgb(36, 36, 36);
    border: rgb(96, 96, 96) 2px solid;
}

.whig-wrapper.dark #whig_dialog_header {
    border-bottom: rgb(194, 194, 194) 3px solid;
    color: rgb(148, 148, 148);
}

.whig-wrapper.dark #whig_dialog_content input[type='text'] {
    border: rgb(105, 105, 105) 1px solid;
    background: rgb(78, 78, 78);
    color: rgb(226, 226, 226);
}

.whig-wrapper.dark #whig_dialog_content input[type='text'].error {
    border: rgb(255, 132, 0) 1px solid;
}

.whig-wrapper.dark #whig_dialog_content label {
    color: rgb(148, 148, 148);
}

.whig-wrapper.dark #whig_dialog_content .float_wrap legend {
    color: rgb(209, 209, 209);
    border-bottom: rgb(120, 120, 120) 1px solid;
}

.whig-wrapper.dark #whig_button_wrap {
    border-top: rgb(120, 120, 120) 1px dotted;
}

.whig-wrapper.dark #whig_button_wrap button#whig_dialog_cancel {
    color: rgb(209, 209, 209);
    border: rgb(190, 190, 190) 2px solid;
}

.whig-wrapper.dark #whig_button_wrap button#whig_dialog_confirm {
    color: rgb(209, 209, 209);
}

.whig-wrapper.dark #image_link_wrap {
    background: rgba(210, 210, 210, 0.1);
}

.whig-wrapper.dark p.help-text {
    color: rgb(96, 96, 96);
}

/*--- EOF ---*/
